* { box-sizing: border-box; }

.pageSearchInput {
    display: inline-block;
    padding: 5px;
    width: 100%;
}

.container {
    /* position: relative;
    display: inline-block; */
    width: 300px;
    background: blue;
}


.suggestions {
    /* position: absolute; */
    background-color: white;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    width: 100%;
}

.suggestions div {
    padding: 5px;
    width: 100%;
}

.suggestions div:hover {
    background: gray;
}