.pageSearchInput {
    display: inline-block;
    width: 100%;
}

.container {
    position: relative;
    display: inline-block;
    width: 300px;
    background: blue;
}


.suggestions {
    position: absolute;
    padding-right: 6px;
    background-color: white;
    border: 1px solid #d4d4d4;
    border-top: none;
    z-index: 99;
    width: 100%;
}

.suggestions div {
    padding: 5px 0 5px 5px;
    width: 100%;
}

.suggestions div:hover {
    background: gray;
}